body {
    background-color: rgb(234, 223, 211);
    font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
    margin: 50px 200px;
}



.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.violet-text {
    color: mediumslateblue
}

.my-strong {
    font-weight: 500;
}

hr {
    margin-top: 25px;
    margin-bottom: 40px;
}